<% if current_user.id == @user.id || current_user.isadmin? %>
<p id="notice"><%= notice %></p>

<div class = "jumbotron">
  <h1>Your Account</h1>
  <p class = "lead">View/edit your account details</p>
</div>

<div class = "container">

<div class = "card">

  <div class = "card-body">
<p>
  <strong>Name:</strong>
  <%= @user.name %>
</p>

<p>
  <strong>Email:</strong>
  <%= @user.email %>
</p>

<p>
  <strong>Password digest:</strong>
  <%= @user.password_digest %>
</p>

<p>
  <strong>User type: </strong>
  <% if @user.isadmin %>
    Administrator
  <% else %>
    Normal User
  <% end %>
</p>
</div>
</div>

<hr>

<%= link_to 'Edit Account', edit_user_path(@user), class: "btn btn-warning" %>
<!-- <%= link_to 'Back', users_path %> -->
<% else %>
<p>You cannot look at this user's information unless you are the user or an admin!</p>
<% end %>
