<p id="notice"><%= notice %></p>

<p>
  <strong>Brand:</strong>
  <%= @raman.Brand %>
</p>

<p>
  <strong>Variety:</strong>
  <%= @raman.Variety %>
</p>

<p>
  <strong>Style:</strong>
  <%= @raman.Style %>
</p>

<p>
  <strong>Country:</strong>
  <%= @raman.Country %>
</p>

<p>
  <strong>Stars:</strong>
  <%= @raman.Stars %>
</p>

<%= link_to 'Edit', edit_raman_path(@raman) %> |
<%= link_to 'Back', ramen_path %>
